[flake8]
select=FCN,M511

exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcn_exclude_functions =
    logging,
    LOGGER,
    parser,
    click,
    put,
    assert_any_call,
    mocker,

enable-extensions =
    FCN,
